.login-form {
    padding: 0% 28% 0% 28%;
    font-size: 1.5rem;
    text-align: center;
}

.total-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 50%;
}