.stock-info-rows {
    padding-bottom: 1%;
}

.stock-info-row-item {
    padding-top: 3%;
    display: flex;
}

.add-row-button {
    padding-bottom: 3%;
    float: right;
    width: 8%;
    text-align: center;
}

.total-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 91%;
    max-width: available;
}